@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-white;
  }

  ::selection {
    @apply bg-blue-100 text-blue-900;
  }
}

:root {
  --foreground-rgb: 17, 24, 39;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 249, 250, 251;
    --background-rgb: 17, 24, 39;
  }
}
